
header {
  background: #000000;
  h1 {
    float: left;
  }
  img {
    float : right;
    width: 6vw;
  }
}
main {
  clear: both;
  img {
    width: 100vw;
  }
  #menuItems {
    width: 66%;
    float: left;
  }
  #order {
    width: 33%;
    float: right;
  }
}
footer {
  clear: both;
}
#menuTitle {
  border-bottom: 1px solid black;
}
.itemPrice {
  width: 10%;
  float: right;
}
.itemTitle {
  width: 90%;
  float: left;
  font-weight: bold;
}
.itemDescribe {
  clear: both;
}
